/* body {
    font-family: Arial, Helvetica, sans-serif;
}

span {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

button {
    width: 35px;
    height: 35px;
    background-color: rgb(169, 169, 169);
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color; white;
    color: black;
}
/* #plus {
    width: 35px;
    height: 35px;
} */

/* #numberInput {
    width: 60px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 

/* #minus {
    width: 35px;
    height: 35px;
} */ 

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 2em;
    font-family: sans-serif;
}

input {
    border: 2px solid gray;
    border-radius: 5px;
    height: 40px;
    width: 60px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    border: 2px solid gray;
    border-radius: 5px;
    background: gray;
    color: white;
    height: 40px;
    width: 40px;
}

button:hover {
    background: white;
    color: gray;
}